<% content_for :title, "Editing task for #{@campaign.name}" %>

<header class="header-container">
  <h1 class="header">Edit Task for <%= @campaign.name %></h1>
  <div class="actions">
    <%= link_to :Campaign, @campaign %>
    <%= button_to :Delete, [@campaign, @task], method: :delete, data: { turbo_confirm: t('form.confirmation') } %>
  </div>
</header>

<%= render "form", campaign: @campaign, task: @task %>