<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this task", campaign_task_path(task.campaign, task) %>
    </p>
  <% end %>
</div>

<%= link_to "New task", new_campaign_task_path(@campaign) %>
