<% content_for :title, "New task for #{@campaign.name}" %>

<header class="header-container">
  <h1 class="header">New Task for <%= @campaign.name %></h1>
  <div class="actions">
    <%= link_to :Campaign, @campaign %>
  </div>
</header>

<%= render "form", campaign: @campaign, task: @task %>
