<%= turbo_frame_tag "task-edit-modal", data: { controller: "turbo-modal" } do %>
  <div class="turbo-frame-overlay"></div>

  <% content_for :title, "New task for #{@campaign.name}" %>
  
  <%= link_to "×", "#", 
        class: "modal-close", 
        data: { action: "click->turbo-modal#hideModal" } %>
  
  <header class="header-container">
    <h1 class="header">New Task for <%= @campaign.name %></h1>
  </header>

  <%= render "form", campaign: @campaign, task: @task %>
<% end %>
