<% content_for :title, "Edit #{contact_name(@contact)}" %>

<div class="page-container">
  <header class="page-header">
    <h1>New Contact for <%= @organization.name %></h1>
  </header>

  <main class="form-container">
    <%= render 'form' %>
  </main>
</div>