<% content_for :title, "Campaigns" %>

<div class="page-header">
  <h1>Campaigns</h1>
  <div class="subheader">
    <p>Manage Campaigns</p>
    <nav class="nav-links">
      <ul class="links">
        <li class="nav-item"><%= link_to "New Campaign", new_campaign_path %></li>
      </ul>
    </nav>
  </div>
</div>

<div class="table-responsive">
  <table class="table" id="campaigns">
    <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Rate</th>
        <th>Created On</th>
      </tr>
    </thead>
    <tbody>
      <%= render @campaigns %>
    </tbody>
  </table>
</div>
