<% content_for :title, "Campaigns" %>

<header class="header-container">
  <h1 class="header">Campaigns</h1>
  <div class="actions">
    <%= link_to "New", new_campaign_path %>
  </div>
</header>

<main class="container">
  <p style="color: green"><%= notice %></p>

  <table id="campaigns">
    <thead>
      <th>Name</th>
      <th>Status</th>
      <th>Rate</th>
      <th>Created On</th>
      <th></th>
    </thead>
    <tbody>
      <%= render @campaigns %>
    </tbody>
  </table>
</main>