@import "variables";

.new_user,
.edit_user {
  margin: auto;
  margin-top: 10vh;
  width: 50%;
  height: 600px;
  border: 1px solid $tertiary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
