<% content_for :title, "Edit Organization" %>

<div class="page-container">
  <header class="page-header">
    <h1>Edit <%= @organization.name %></h1>
  </header>

  <main class="form-container">
    <%= render 'form' %>
  </main>
</div>