<% content_for :title, "Organizations" %>

<header class="page-header">
  <h1>Organizations</h1>
  <div class="subheader">
    <p>Manage organizations.</p>
    <nav class="nav-links">
      <ul class="links">
        <li class="nav-item">
          <%= link_to 'New Organization', new_organization_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<main class="table-responsive">
  <table class="table" id="organizations">
    <thead>
      <tr>
        <th id="name-header" scope="col">Name</th>
        <th id="location-header"  scope="col">City, State</th>
        <th id="phone-header">Phone</th>
        <th id="created-header">Created At</th>
      </tr>
    </thead>
    <tbody>
      <%= render @organizations %>
    </tbody>
  </table>
</main>